* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    top: 0;
    position: sticky;
    height: 15px;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
}

.C1,
.C2 {
    font-size: larger;
    color: white;
    height: 100px;
}

.main {
    padding: 50px;
    background-color: #18BC9C;
    display: flex;
    justify-content: center;
    height: 450px;
    align-items: center;
    color: aliceblue;
    font-size: 31px;
    flex-direction: column;
    gap: 35px;
}

.subb {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
padding-top: 20px;
    background-color: #f7f7f7;
    height: 100px;
}

.sub-top {
    gap: 50px;
    font-size: 15px;
    color: #999;
}

.sub-bottom input {
    padding: 8px 10px;
    width: 23vw;
}

.sub-bottom button {
    padding: 10px 14px;
    border: none;
    background-color: #18BC9C;
    color: aliceblue;
    border-radius: 4px;
    
}

.grasstag {
    font-size: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 35px;
    gap: 120px;
    color: #999;
    font-size: 30px;
    background-color: #f7f7f7;
    height: 3vw;
}
.Grass8{
    background-color: #f7f7f7;
    display: flex;
    justify-content: start;
    gap: 20px;
    padding-top: 33px;
    padding-left: 140px;
    padding-right: 140px;
}

.G1{
    height: 350px;
    background-color: #ffffff;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    gap: 5px;
}
.img {   border-radius: 334px;
}
.heading{
    padding-top: 30px;
    font-weight: bold;
    color: #2C3E50;
    font-size: larger;
}
.para{
    font-size: small;
    color: #333333;
    padding: 9px;
}
.Grass2{background-color: #f7f7f7;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 20px;
    padding-top: 33px;
    padding-left: 140px;
    padding-right: 140px;
    height: 350px;
}
.G2 {
    height: 350px;
    background-color: #ffffff;
    width: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    gap: 5px;
    
}
.Grass3 {
    background-color: #f7f7f7;
        display: flex;
        justify-content: start;
        gap: 20px;
        padding-top: 33px;
        padding-left: 140px;
        padding-right: 140px;
        padding-bottom: 120px;
}
.footer {
    background-color: #2C3E50;
    display: flex;
    height: 182px;
    justify-content: space-between;
    padding: 20px;
    padding-left: 90px;
    padding-right: 90px;
}
.G3{
    height: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: smaller;
}
.row {
    display: flex;
    text-align: center;
    gap: 70px;
    justify-content: center;
    padding-left: 35px ;
}
h5{
    color:#ffffff ;
    font-size: 30px;

}
.p{
    width: 360px;
    padding-top: 20px;
    color: #ffffff;
    font-size: 16px;
    
}
.G1:hover,.G2:hover,.G3:hover{
    background-color: #18BC9C;
    transition: background-color 0.3s ease;
}