* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 20px;
    background-color: #2C3E50;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.C1,
.C2 {
    font-size: larger;
    color: white;
    height: 100px;
}

.main {
    padding: 50px;
    background-color: #18BC9C;
    display: flex;
    justify-content: center;
    height: 320px;
    align-items: center;
    color: aliceblue;
    font-size: 31px;
    flex-direction: column;
    gap: 35px;
}

.subb {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    flex-direction: column;

    background-color: #f7f7f7;
    height: 100px;
}

.sub-top {
    gap: 50px;
    font-size: 15px;
    color: #999;
}

.sub-bottom input {
    padding: 5px 10px;
    width: 25vw;
}

.sub-bottom button {
    padding: 10px 14px;
    border: none;
    background-color: #18BC9C;
    color: aliceblue;
    border-radius: 4px;
}

.tag {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 20px;
    flex-direction: column;
    color: #999;
    font-size: 30px;
    background-color: #f7f7f7;
    height: 8vw;
}

.Grass8 {
    padding: 50px;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    height: 320px;
    align-items: center;
    color: rgb(0, 0, 0);
    font-size: 31px;
    gap: 35px;
}